<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width">
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <title><%= @page %>Andrew Nicolaou - Design: Creation of Artifacts in Society</title>
  <link rel="stylesheet" href="/assets/styles.css">
</head>
<body>
  <div class="nav">
    <%= render 'partials/_nav.html.erb' %>
  </div>

  <%= yield %>
</body>
</html>
