body {
  font-family: sans-serif;
}

/* .nav */
.nav li {
  display: inline-block;
  margin: 0;
  padding: 0;
}

/* post */
.post {
  border-bottom: 1px solid gray;
  margin-bottom: 1em;
}

.post:last-child {
  border-bottom: none;
}

.post time {
  font-size: 0.8em;
  font-weight: bold;
}

.post h2 {
  margin-top: 8px;
}